*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}
 .logo
 {
    width: 100%;
 }
 header
 {
background-color: #1A0B2E;
 }
 
nav
{
    background-color: #1A0B2E;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
     padding-bottom: 30px;
        width: 55%;
    margin: 0 auto;
}
 
nav h3
{
    color: white;
    
}
nav li a
{
    color: white;
    text-decoration: none;
    font-size: 1rem;
}
nav ul
{
    list-style: none;
    display: flex;
    gap: 2rem;
}
nav button
{
background: linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1));
      border-radius: 10000px;
     font-size: 1rem;
    font-weight: 600;
    color: white;
    padding-top: 12.5px;
    padding-bottom: 12.5px;
    padding-left: 16px;
    cursor: pointer;
    display: flex;
    border: none;
}
.arrow
{
    padding-right: 16px;
    padding-left: 6.5px;
}
.banner
{
     
   text-align: center;
    background-image: url(B13-A02-TechWave/assets/hero-bg.png);
 background-position:center;
 background-size: cover;
 background-repeat: no-repeat;
}
.hero
{
    padding-top: 6.3125rem;
    padding-bottom: 6.3125rem;
    border: 2px solid red;
    width: 40%;
     margin-left: auto;
     margin-right: auto;
}
.mike
{
    background-image: url(B13-A02-TechWave/assets/hero-circle.png);
    background-position: center;
      padding: 4.8rem 7.29rem 6.10rem 7.29rem;
     background-repeat: no-repeat;
     margin-bottom: 40px;
    position: relative;
    margin-left: -17px;
 
}
.hero h1
{
    color: white;
    font-weight: 700;
    font-size: 3.75rem;
    margin-bottom: 8px;
}
.heroi
{
 border: 2px solid rgb(95, 2, 2); 
 display: flex;
 justify-content: center;
  
}
 .banner p
 {
    color: white;
    line-height: 24px;
    font-size: 16px;
margin-bottom: 24px;
 }
 .b1
 {
    background: linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1));
 border-radius: 10000px;
 color: white;
  display: flex;
  align-items: center;
  font-size: 1rem;
  font-weight: 600;
   padding-top: 12.5px;
   padding-bottom: 12.5px;
   padding-right: 20px;
   border: none;
   cursor: pointer;
}
 .b1 img
 {
  padding-right: 8px;
  padding-left: 20px;
 }
 .b2
 {
    border-radius: 10000px;
 color: #00FF88;
  display: flex;
  align-items: center;
  font-size: 1rem;
  font-weight: 600;
   padding-top: 12.5px;
   padding-bottom: 12.5px;
   padding-right: 20px;
   border: 1px solid #00FF88;
   cursor: pointer;
   background-color: transparent;
 }
 .b2 img
 {
   padding-right: 0.5rem;
  padding-left: 1.25rem; 
  
 }
 .two
 {
    display: flex;
    justify-content: center;
    gap: 8px;
 }
 .badge
 {
    color: #1A0B2E;
    font-size: 1.125rem;
    font-weight: 600;
    text-align: center;
    padding: 0.5rem 1rem;
    background-color: #00FF88;
    border-radius: 1000px;
    width: 4.6rem;
     height: 2.3rem;
     margin-left: -100px;
     margin-top: 30px;
     box-shadow: 0px 0px 17px #00FF88;
     position: relative;
 }
 .hr1
 {
    border: none;
    height: 1px;
    background-color: #331160;
 }
.ham
{
  visibility:  hidden;
}
@media screen and (max-width:576px) {
    nav ul 
    {
        display: none;
    }
    nav button 
    {
        display: none;
    }
    .ham
    {
         visibility: visible;
    }
    .logo
    {
        width: 8.56rem;
        height: 1.25rem;
    }
    nav 
    {
        width: 80%;
         
    }
    .mike
    {
         padding: 50px 65px;
          height: 180px;
         width: 180px;
         height: 180px;
         border-radius: 100px;
         background-position: center;
         background-size: cover;
          
    }
    .badge
    {
        margin-top: -10px;
    }
    .hero
    {
        width: 95%;
    }
    .banner
    {
        background-size: contain;
        background-position: 0rem 3.75rem;

    }
.hero
{
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
}
.hero h1 
{
    font-size: 2.5rem;
}
}